:root{
    --primaryColorGray: rgb(65, 68, 71);
    --primaryColorGray2: rgba(65, 68, 71, 0.15);
}
*{background-color: black; 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: rgb(29, 155, 240);
    text-decoration: none;
}
img, svg{
    max-width: 100%;
    height: auto;
}
body{
    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;
}
.containerTwitt{
    padding: 0px 20px;
    border: solid white 0.5px;
    border-color: transparent transparent white transparent;
    width: 650px;
    height: 400px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
}
.bodyTwitt {
    grid-column: 1/2;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 75px 1fr;
}
.grayText{
    color: var(--primaryColorGray);
}
.containerIcons{
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;

    justify-content: space-around;
}
.containerIcons:first-child{
    background-color: white;
}
.icon{
    width: 20px;
    height: 30px;
}
.icon > svg{
    width: 60%;
}
.container{
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1/4;
    grid-column: 1/4;
}
.icon svg, .icon span{
    color: var(--primaryColorGray);
    fill: var(--primaryColorGray);
}
.containerAvatar img{
    width: 65%;
    border-radius: 50%;
    margin: 10px;
}
.containerTwittBody .header p{
    
    padding: 5px 10px;
}
.containerImg img{
    max-width: 95%;
    border: solid var(--primaryColorGray) 0.5px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.containerTwittBody .containerImg{
    padding-top: 20px;
}
.containerTwitt:hover{
    background-color: var(--primaryColorGray2);
    transition-duration: 0.2s;

}
.containerTwitt *{
    background-color: transparent;
}